/*@import url(fuentes.css);
@import url(App.css);*/

@font-face{
	font-family: "PermanentMarker";
	src:url(/resource/font/Permanent_Marker/PermanentMarker-Regular.ttf)
}

@font-face {
	font-family: "consolas";
	src: url(/resource/font/Inconsolata/static/Inconsolata/Inconsolata-Light.ttf);
}

* {
	margin: 0;
	padding: 0;
	transition: .5s;
	font-family: 'consolas';
	text-overflow: clip;
	/*ackground: #1c1c1c;
	*/
}

h1,h2,h3,h4,h5,h6 {
	font: weight 100px;;
	text-transform: uppercase;
}

:root {
	--padding-navbar: 10px;
	--li-margin-navbar-inline: 20px;
	--li-margin-navbar-block: 10px;
	--li-padding-inline: 10px;
	--li-padding-block: 10px;
	--color-shadow-navbar-text: rgb(0, 170, 255);
	--border-box: solid rgb(0, 206, 0) 2px;
	--color-text: rgb(0, 206, 0);
}

body {
	line-height: 26px;
	color: rgb(255, 255, 255);
	display: grid;
	background: #1c1c1c;
}

body::-webkit-scrollbar {
	width: 0px;
}

/*
////////////////////////////////////////////////////////////////////////////////
/////estilos para la barra de navegacion
////////////////////////////////////////////////////////////////////////////////
*/

header {
	padding: 10px 0px;
	position: -webkit-sticky;
	z-index: 4;
	position: sticky;
	top: 0;
	/*border: var(--border-box);*/

	background: linear-gradient(#1c1c1c 60%, transparent);

}

header > div{
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: repeat(2, auto);
}

header > div > .name-page {
	margin: 10px 40px;
}

header>div>.name-page>h1>span{
	font-weight:100;
	font-family: 'PermanentMarker';
}

header>div>.name-page>h1>span.tv{
	font-weight: 800;
	animation: textanimationtitle 45s infinite;
}

@keyframes textanimationtitle {
	0%{
		color: red;
	}
	50%{
		color: rgb(0, 255, 0);
	}
	100%{
		color: blue;
	}
}

header > div > nav#navbar {
	display: grid;
	justify-content: end;
}

header > div > nav > ul > a {
	list-style: none;
	text-decoration: none;
	color: rgb(3, 185, 0);
	display: inline-block;
	margin: 0px 5px;
	padding: 10px;
	font-size: 1.5em;
	border: 10px;
	border-color: aliceblue;
	border-width: 10px;
}
header > div > nav > ul > a > li {
	margin: 0px 5px;
	font-weight: 500;
}

header > div > nav > ul > a > li:hover {
	border-bottom: solid 2px;
}

/*
////////////////////////////////////////////////////////////////////////////////
/////Estilos para la pagina principal llamado inicio
////////////////////////////////////////////////////////////////////////////////
*/

main {
	/*border: var(--border-box);
	/*height: 700px;*/
	position: relative;
}

main > div {
	margin: 200px 20px 20px 20px;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: repeat(2, 50%);
}

/*main > div > div#subtitulo {
	margin: 20px;
	column-span: all;
}

main > div > div#description {
	width: 50%;
}*/

main > div > div > p {
	margin: 0 20px 20px 20px;
	color: var(--color-text);
}

/*main>div>div>p>div{
	background-color:#FFFFFF;
  width: 100%;
  height: 300px;
}

#animation_cursor{
	display: inline;
	position: fixed;
}*/

.cursor_animation {
	transition: none;
	animation: cursoranimation 1s infinite;
	font-weight:bolder;
}

@keyframes cursoranimation {
	from{
		color: var(--color-text);
	}
	to{
		color: transparent;
	}
}

main>div#contenedor_del_indice>div.imlogo{
	display: grid;
	place-items: center;
	height: max-content;
}

main>div>div>img#img-logo{
	border-width: 10px;
	width:50%;
	animation: img_animation 5s;
	top: 50%;
}

@keyframes img_animation {
	0%{
		opacity: 0.2;
	}
	100%{
		opacity: 1;
	}
}

/*
////////////////////////////////////////////////////////////////////////////////
/////estilos para el archivo Codigos.html
////////////////////////////////////////////////////////////////////////////////
*/

main>section{
	width: 100%
}

main>section>div{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	
}

main>section>div>div{
	display: grid;
	justify-items: center;
	gap: 10px;
}

main>section>div>div>img{
	width: 90%;
}

/*
////////////////////////////////////////////////////////////////////////////////
/////estilos para el archivo footer.php
////////////////////////////////////////////////////////////////////////////////
*/

footer {
	/*border: var(--border-box)*/
	margin-block-start: 80px;
	padding-block: 30px;
	display: grid;
	align-items: end;
	z-index: 2;
	box-shadow: 0 -3px 5px 0 black;
}

footer>section{
	margin: 10px;
	margin-inline: 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 50%);
	justify-items: center;
	align-items: center;
	gap: 20px;
}
footer>section>p>span>a{
	color : white;
	text-decoration: none;
	font-weight:bold;
}

footer>section>p.contactos-de-suger{
	grid-column: 2/3;
	padding-block-end: 20px;
}