/*@import url(fuentes.css);
@import url(App.css);*/

@font-face{
	font-family: "PermanentMarker";
	src:url(/resource/font/Permanent_Marker/PermanentMarker-Regular.ttf)
}

@font-face {
	font-family: "consolas";
	src: url(/resource/font/Inconsolata/static/Inconsolata/Inconsolata-Light.ttf);
}

* {
	margin: 0;
	padding: 0;
	transition: .5s;
	font-family: 'consolas';
	text-overflow: clip;
	/*ackground: #1c1c1c;
	*/
}

h1,h2,h3,h4,h5,h6 {
	font: weight 100px;
	text-transform: uppercase;
}

:root {
	--padding-navbar: 10px;
	--li-margin-navbar-inline: 20px;
	--li-margin-navbar-block: 10px;
	--li-padding-inline: 10px;
	--li-padding-block: 10px;
	--color-shadow-navbar-text: rgb(0, 170, 255);
	--border-box: solid rgb(0, 206, 0) 2px;
	--color-text: rgb(3, 185, 0);
	--background-page: #1c1c1c;
}

body {
	line-height: 26px;
	color: rgb(255, 255, 255);
	display: grid;
	background: var(--background-page);
	height:auto;
	justify-items: center;
}

body::-webkit-scrollbar {
	width: 0px;
}

/*
////////////////////////////////////////////////////////////////////////////////
/////estilos para la barra de navegacion
////////////////////////////////////////////////////////////////////////////////
*/

header {
	padding: 10px 0px;
	position: -webkit-sticky;
	z-index: 4;
	position: sticky;
	top: 0;
	/*border: var(--border-box);*/
	width: 100%;
	background: linear-gradient(var(--background-page),transparent);

}

header > div{
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: repeat(2, auto);
}

header > div > .name-page {
	margin: 10px 40px;
}

header>div>.name-page>h1>span{
	font-weight:100;
	font-family: 'PermanentMarker';
}

header>div>.name-page>h1>span.tv{
	font-weight: 800;
	animation: textanimationtitle 45s infinite;
}

@keyframes textanimationtitle {
	0%{
		color: red;
	}
	50%{
		color: rgb(0, 255, 0);
	}
	100%{
		color: blue;
	}
}

header > div > nav {
	display: grid;
	justify-content: end;
	margin-inline-end: 2%;
}

header > div > nav> ul{
	display: flex;
	align-items: center;
}

header > div > nav > ul > li {
	list-style: none;
	display: inline-block;
}

header > div> nav > ul> li:hover{
	transform: scale(1.2);
	font-weight: 900;
	transition: 100ms;
}

header > div > nav > ul > li > a {
	color: var(--color-text);
	margin: 0px 5px;
	padding: 10px;
	font-size: 1.5em;
	text-decoration: none;
}

header > div > nav > ul > li > a:hover {
	text-decoration:underline;
}



/*
////////////////////////////////////////////////////////////////////////////////
/////Estilos para la pagina principal /inicio
////////////////////////////////////////////////////////////////////////////////
*/

main {
	/*border: var(--border-box);
	/*height: 700px;*/
	position: relative;
	display: grid;
	justify-items: center;
	max-width: 1300px;
}

main > #contenedor_del_indice {
	margin: 200px 20px 20px 20px;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: repeat(2, 50%);
}

/*main > div > div#subtitulo {
	margin: 20px;
	column-span: all;
}

main > div > div#description {
	width: 50%;
}*/

main > div > div > p {
	margin: 0 20px 20px 20px;
	color: var(--color-text);
}

/*main>div>div>p>div{
	background-color:#FFFFFF;
  width: 100%;
  height: 300px;
}

#animation_cursor{
	display: inline;
	position: fixed;
}*/

.cursor_animation {
	transition: none;
	animation: cursoranimation 1s infinite;
	font-weight:bolder;
}

@keyframes cursoranimation {
	from{
		color: var(--color-text);
	}
	to{
		color: transparent;
	}
}

main>div#contenedor_del_indice>div.imlogo{
	display: grid;
	place-items: center;
	height: max-content;
}

main>div>div>img#img-logo{
	border-width: 10px;
	width:50%;
	animation: img_animation 5s;
	top: 50%;
}

@keyframes img_animation {
	0%{
		opacity: 0.2;
	}
	100%{
		opacity: 1;
	}
}

/*
////////////////////////////////////////////////////////////////////////////////
/////estilos para el archivo Videos.html
////////////////////////////////////////////////////////////////////////////////
*/

main>div#paginas{
	width: 100%;
}

main>div#paginas>div.indice_de_paginas_de_videos{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

main>div#paginas>div.indice_de_paginas_de_videos>a{
	color: white;
	text-decoration: none;
	margin: 1px;
}

main>div#paginas>div.indice_de_paginas_de_videos>a>p{
	font-size: 1.1em;
	padding: 7px;
	border-radius: 5px;
}

main>div#paginas>div.indice_de_paginas_de_videos>a:hover{
	transform: scale(1.1);
}

main>#contenedor_del_menu_de_videos{
	margin: 1%;
	padding: 0;
}

main>#contenedor_del_menu_de_videos>.menu_de_videos{
	width: 100%;
	margin: 0;
	padding: 0;display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 2%;
}

main>#contenedor_del_menu_de_videos>.menu_de_videos>form{
	width: 100%;
	position: relative;
}

main>#contenedor_del_menu_de_videos>.menu_de_videos>form>button{
	width: 100%;
	background: transparent;
	border: none;
}

main>#contenedor_del_menu_de_videos>.menu_de_videos>form>button:hover{
	transform: scale(1.1);
	cursor: pointer;
}

main>#contenedor_del_menu_de_videos>.menu_de_videos>form>button{
	color: whitesmoke;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
}

main>#contenedor_del_menu_de_videos>.menu_de_videos>form>button>.nombre_video{
	margin-block-end: 4%;
}

main>#contenedor_del_menu_de_videos>.menu_de_videos>form>button>div.clip-miniatura{
	width: 100%;
}

main>#contenedor_del_menu_de_videos>.menu_de_videos>form>button>div.clip-miniatura>img{
	width: 100%;
}

/*
////////////////////////////////////////////////////////////////////////////////
///// Estilos para la pagina de watch.html
////////////////////////////////////////////////////////////////////////////////
*/

main>iframe{
	max-width: 90%;
	min-height: 676;
}

main>h2{
	margin-block: 2%;
}

/*
////////////////////////////////////////////////////////////////////////////////
/////estilos para el archivo Codigos.html
////////////////////////////////////////////////////////////////////////////////
*/

main>section{
	margin: 1%;
	padding: 0;
}

main>section>div{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	
}

main>section>div>div{
	display: grid;
	justify-items: center;
	gap: 10px;
}

main>section>div>div>img{
	width: 90%;
}

/*
////////////////////////////////////////////////////////////////////////////////
/////estilos para el archivo footer.php
////////////////////////////////////////////////////////////////////////////////
*/

footer {
	/*border: var(--border-box)*/
	margin-block-start: 80px;
	padding-block: 30px;
	display: grid;/*
	align-items: end;*/
	z-index: 2;
	box-shadow: 0 10px 0px 0 var(--background-page), 0 -3px 3px black;
}

footer>section{
	margin: 10px;
	margin-inline: 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	justify-items: center;
	align-items: center;
}

footer>section>p>span>a{
	color : white;
	text-decoration: none;
	font-weight: 900;
}

footer>section>p>span.bold-text-name{
	font-weight: 900;
}

footer>section>p.contactos-de-suger{
	grid-column: 2/3;
	padding-block-end: 20px;
}